<p id="notice"><%= notice %></p>

<div class="row">
	<div class "col-md-12">
		<div class="well">
			<h1><%= @artist.name %></h1>
			<% @artist.songs.each do |song| %>
				<h4><%= link_to song.name, song %> </h4>
			<% end %>
		</div>
	</div>
</div>

<%= link_to 'Edit', edit_artist_path(@artist) %>

<%= link_to 'Back', artists_path %>
